const container = document.getElementById('root');

/ *************************************** /

ReactDOM.render(<App />, container);

/ *************************************** /

const root = ReactDOM.unstable_createRoot(container);
root.render(<App />)

/ *************************************** /

ReactDOM.render(
  <StrictMode>
    <App />
  </StrictMode>,
  container
);